@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #fff;
    color: #f5f5f0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }
  ::selection {
    background-color: #e60505;
    color: #111;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: #e60505;
  }
}

@layer utilities {
  .font-display {
    font-family: "Bebas Neue", sans-serif;
  }
  .font-heading {
    font-family: "Cormorant Garamond", serif;
  }
  .font-body {
    font-family: "DM Sans", sans-serif;
  }
  .font-mono-custom {
    font-family: "Space Mono", monospace;
  }
}
